extends ../html/_layouts/base

block vars
  include ../html/_settings/data

block content
  .wrapper
    header.header
      h1.h1.header-title=metaTitle
      
    .container
      .sub-header.sub-header--rotate
        h2.h2 rotate
      .case.case--1
        .hamburger-button.burger-rotate-normal.js-hamburger-button--01
          .bar
      .case.case--2
        .hamburger-button.burger-rotate-long.js-hamburger-button--02
          .bar
    .container
      .sub-header.sub-header--fadeout
        h2.h2 fade out
      .case.case--3
        .hamburger-button.burger-fadeout.js-hamburger-button--03
          .bar
      .case.case--4
        .hamburger-button.burger-fadeout--delay.js-hamburger-button--04
          .bar
    .container
      .sub-header.sub-header--join
        h2.h2 join
      .case.case--5
        .hamburger-button.burger-join.js-hamburger-button--05
          .bar
      .case.case--6
        .hamburger-button.burger-join--funny.js-hamburger-button--06
          .bar
    footer.footer
block prepend js
  script(src="index.js?v")
