{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "google": true
  },
  "rules": {
    "no-console": 1
  }
}
