.hamburger-button {
  &.burger-join {
    .bar {
      @include transition-property((all, opacity, background-color));
      @include transition-delay(($transition-time-short * 2, $transition-time-short, $transition-time-short / 2));
      &:before {
        @include transform-origin(center top);
      }
      &:after {
        @include transform-origin(center bottom);
      }
    }
  }
  &.burger-join--funny {
    .bar {
      @include transition-property((all, opacity, background-color));
      @include transition-delay(($transition-time-short * 2));
      &:before {
        @include transform-origin(center top);
      }
      &:after {
        @include transform-origin(center bottom);
      }
    }
  }
}
.js-hamburger-button--open {
  // ROTATE
  // rotate normal
  &.burger-rotate-normal {
    .bar {
      background: $bar-color-after-hidden;
      @include transform(rotate(#{$rotate-normal}deg));
      &:before {
        background: $bar-color-after;
        @include transform(translateX($bar-height * 0.2) translateY($bar-height * 3.2) rotate(#{$rotate-normal - 45}deg));
        @include transform-origin(center top);
      }
      &:after {
        background: $bar-color-after;
        @include transform(translateX($bar-height * 0.2) translateY($bar-height * -3.0) rotate(#{$rotate-normal + 45}deg));
        @include transform-origin(center bottom);
      }
    }
  }
  // rotate normal
  &.burger-rotate-long {
    .bar {
      background: $bar-color-after-hidden;
      @include transform(rotate(#{$rotate-long}deg));
      &:before {
        background: $bar-color-after;
        @include transform(translateX($bar-height * -0.4) translateY($bar-height * 3.0) rotate(#{$rotate-long - 45}deg));
        @include transform-origin(center top);
      }
      &:after {
        background: $bar-color-after;
        @include transform(translateX($bar-height * 0.2) translateY($bar-height * -2.4) rotate(#{$rotate-long + 45}deg));
        @include transform-origin(center bottom);
      }
    }
  }
  // -----------------------------------------------------------
  // FADE OUT
  // fadeout type01
  &.burger-fadeout {
    .bar {
      background: $bar-color-after-hidden;
      &:before {
        background: $bar-color-after;
        @include transform(translateX($bar-height * 0.2) translateY($bar-height * 2.2) rotate(45deg));
        @include transform-origin(center top);
      }
      &:after {
        background: $bar-color-after;
        @include transform(translateX($bar-height * 0.4) translateY($bar-height * -2.6) rotate(-45deg));
        @include transform-origin(center bottom);
      }
    }
  }
  // fadeout type02
  &.burger-fadeout--delay {
    .bar {
      @include transition-delay(0s);
      background: $bar-color-after-hidden;
      &:before {
        background: $bar-color-after;
        @include transition-delay($transition-time-normal);
        @include transform(translateX($bar-height * 0.2) translateY($bar-height * 2.2) rotate(45deg));
        @include transform-origin(center top);
      }
      &:after {
        background: $bar-color-after;
        @include transition-delay($transition-time-normal);
        @include transform(translateX($bar-height * 0.4) translateY($bar-height * -2.6) rotate(-45deg));
        @include transform-origin(center bottom);
      }
    }
  }
  // -----------------------------------------------------------
  // JOIN
  &.burger-join {
    .bar {
      background: $bar-color-after-hidden;
      @include transition-delay(($transition-time-short * 2, $transition-time-short, $transition-time-short / 2));
      &:before {
        background: $bar-color-after;
        @include myAnimation(joinMenuBarTop #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
      &:after {
        background: $bar-color-after;
        @include myAnimation(joinMenuBarBottom #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
    }
  }
  &.burger-join--funny {
    .bar {
      background: $bar-color-after-hidden;
      @include transition-duration(0s)
      @include transition-delay(($transition-time-short * 1.8));
      &:before {
        background: $bar-color-after;
        @include myAnimation(joinMenuFunnyBarTop #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
      &:after {
        background: $bar-color-after;
        @include myAnimation(joinMenuFunnyBarBottom #{$transition-time-short * 2} #{$transition-time-short / 2} linear forwards);
      }
    }
  }
}
.js-hamburger-button--close {
  &.burger-join {
    .bar {
      background: $bar-color;
      &:before {
        @include myAnimation(joinMenuBarCloseTop #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
      &:after {
        @include myAnimation(joinMenuBarCloseBottom #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
    }
  }
  &.burger-join--funny {
    .bar {
      background: $bar-color;
      &:before {
        @include myAnimation(joinMenuFunnyBarCloseTop #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
      &:after {
        @include myAnimation(joinMenuFunnyBarCloseBottom #{$transition-time-short * 2} #{$transition-time-short / 2} linear backwards);
      }
    }
  }
}
