//
// Bar Style
//
$bar-width: 40px !default;
$bar-height: 5px !default;
$bar-top: -11px !default;
$bar-bottom-top: 11px !default;
$bar-radius: 20px !default;

$bar-color: rgba(67, 160, 71, 1) !default;
$bar-color-after: rgba(229, 57, 53, 1) !default;
$bar-color-after-hidden: rgba(229, 57, 53, 0) !default;

$burger-width: 40px !default;
$burger-height: ($bar-bottom-top * 2) + $bar-height;

//
// Transition
//
$transition-time-normal: .4s !default;
$transition-time-short: .2s !default;
$transition-easing: ease-in-out !default;

//
// Animation
//
$rotate-normal: 180;
$rotate-long: 270;
